.calendarContainer {
  background-color: rgb(255, 246, 237);

  width: 800px;
  height: 600px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
